
<html>
    <!--was ist ein Head-->
    <head>
        <!--der Title wird im Bowsertap angezeigt-->
        <title>
            N27 - Login
        </title>
    </head>
    <!--body steht für den sichtbaren Teil der App-->
    <body>
        <!--h1 bedeutet Headline/ Überschrift der Größe 1-->
        <h1>
            Bitte melden Sie sich hier an:
        </h1>
        <!--p bedeutet Paragraph/ Absatz-->
        <p>Benutzername:</p>
        <!--input ist eine Textbox-->
        <input type="text" id="benutzername" placeholder="s150..." name="benutzername">
        <p>Passwort:</p>
        <!--Feld, wo das Passwort eingeben werden kann-->
        <input type="password" id="passwort" name="passwort">
    </body>
</html>